*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Sawarabi Gothic', sans-serif; */
}



/* TOPBAR */



.container-header{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 80px);
    height: 70px;
    background-color: rgb(27, 27, 27);
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    display: flex;
    justify-content: flex-end;
   

}

.row{
    display: flex;
    align-items: center;
}

.flex-end{
    justify-content: flex-end;
}

.column{
    flex-direction: column;
}

.end{
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    
}

.center{
    justify-content: center;
}

.between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.col{
    text-align: center;
    width: 100%;
}

.col-25{
    width: 25%;
    text-align: center;
}

.col-50{
    width: 50%;
    text-align: center;
}

.col-aside-up, .col-aside-down{
    width: 80%;
}

.button-black{
    background-color: black;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 15px;
    padding: 12px 30px 12px 30px;
    transition: all;
}

.button-black:hover{
    scale: 1.1;

}

.button-black a{
    color: white;
    text-decoration: none;
}

/* SIDEBAR */


.container-aside{
    width: 80px;
    height: calc(100vh - 100px);
    background-color: rgb(116, 116, 255);
    position: relative;
    display: flex;
    justify-content: space-between;
}


/* MAIN */

.container-main{
    width: calc(100vw - 80px);
    height: calc(100vh - 70px - 100px);
    background-color: red;
    position: absolute;
    top: 70px;
    right: 0;
    overflow-y: auto;
}

.ul-main{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

li{
    padding: 10px;
}

.col-main{
    width: calc(100% / 2);
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}



/* FOOTER */

footer{
    width: 100%;
    height: 100px;
    background-color: green;
}

.container-footer{
    width: 100%;
    height: 100%;
}