*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.wrapper{
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    
}

/* UTLITY CLASS */

.row{
    display: flex;
}

.col, .col-25{
    text-align: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.align{
    align-items: center;
}

.flex-end{
    justify-content: flex-end;
}

.column{
    flex-direction: column;
}

.between{
    justify-content: space-between;
}

.center{
    justify-content: center;
}

.height{
    height: 100%;
}

/* SIDEBAR */

aside{
    width: 50px;
    height: 100%;
    background-color: red;
    display: flex;
}

.col-aside-up, .col-aside-down{
    width: 80%;
}

/* TOPBAR E MAIN */

.contents{
    width: calc(100vw - 50px);
    height: 100%;
}

/* TOPBAR */

header{
    background-color: rgba(0,0,0,0.5);
    width: calc(100vw - 50px);
    height: 75px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}


.button-black{
    background-color: black;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 15px;
    padding: 12px 30px 12px 30px;
    transition: all;
}

.button-black:hover{
    scale: 1.1;

}

.button-black a{
    color: white;
    text-decoration: none;
}

/* MAIN */

.main-content{
    width: 100%;
    height: 100%;
    background-color: blue;
    padding: 80px 15px 15px 15px;
    overflow-y: auto;
}



.ul-main{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}

li{
    padding: 10px;
}

.col-main{
    width: 45%;
    margin: 2%;
    height: 50px;
    background-color: yellow;
    border: 1px solid black;
    
}


/* FOOTER */

footer{
    background-color: rgba(68, 144, 74, 0.625);
    height: 100px;
    width: 100vw;
}





/* RESPONSIVE */

@media screen and (min-width: 768px){
    aside{
        width: 100px
    }
    
    .contents, header{
        width: calc(100vw - 100px);
    }
}
